<p>aboutus works!</p>
<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="">
            <h1>COMPANY</h1>
            <h2>About Us</h2>
        </div>
        <div class="row">
            <div class="column-md-4">
                <img src="/src/assets/Images/office2.png" alt="office-blue">
                <img src="/src/assets/Images/office3.png" alt="office-black">

            </div>
            <div class="column-md-4">
                <img src="/src/assets/Images/office.png" alt="office">

            </div>
            <div class="column-md-4">
                <h3>About</h3>
                <p></p>
                <button type="button">READ MORE -></button>


            </div>
            
        </div>

    </div>
    
</div>
