.row {
    display: flex;
    text-align: right;
}
.navbar {
    position: absolute;
    color: black;
    text-decoration: none;
    text-align: right;
    right: 30px;
    top: 10px;
}

.nav-link-home {
    padding: 0px 5px 0px 5px;
    color: black;
    text-decoration: none;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}
.nav-link{
    color: black;
    text-decoration: none;
    padding: 5px 5px 5px 5px;

}
.nav-link :hover{
    color: lightblue;
}
