<div id= "main-head" class="navbar">
    <div class="row">
      <div class="col-8">
        <a href="#/home" class="nav-link-home">Main</a>
      </div>
      <div class="col-8">
        <a href="#/aboutus" class="nav-link">About Us</a>
      </div>
      <div class="col-8">
        <a href="#/subscription-form" class="nav-link">Search Product</a>
      </div>
    </div>
</div>

<!-- Footer -->
<footer id="main-footer" class="page-footer footer-temp black text-center text-md-left mt-0">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-2 mx-auto">
            <a href="#"><img src="../assets/Images/footer-logo.svg" alt="logo"></a>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <!-- Second Column -->
        <div class="col-md-2 mx-auto">
            <ul>
                <h5 class="title mb-4 mt-3 font-bold">Information</h5>
                <p style="text-decoration: none;">Main</p>
                <p>Gallary</p>
                <p>Projects</p>
                <p>Certifications</p>
                <p>Contacts</p>
            </ul>

        </div>
        <hr class="clearfix w-100 d-md-none">
        <!-- Third Column -->
        <div class="col-md-2 mx-auto">
            <ul class="footer-list">
                <h5 class="title mb-4 mt-3 font-bold">Contacts</h5>
                <p>Address</p>
                <p>phone</p>
                <p>Email</p>
            </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <!-- Fourth column -->
        <div class="col-md-4">
            <div>
                <h5 class="title mb-4 mt-3 font-bold">Social Media</h5>
                <div><img class="ft-logo" src="../assets/Images/facebook.png" alt="facebook">
                <img class="ft-logo" src="../assets/Images/twitter.png" alt="twitter">
                <img class="ft-logo" src="../assets/Images/Linked In.png" alt="linkin">
                <img class="ft-logo" src="../assets/Images/pininterest.png" alt="pinterest"></div>
                
            </div>

        </div>
        <hr class="clearfix w-100 d-md-none">
    </div>
    <hr class="clearfix w-100 d-md-none black">

    <div class="footer-copyright">
        <div class="container-fluid">
            © 2021 Copyright: <a href="#"> Event finder angular </a>

        </div>
    </div>
</footer>

<router-outlet></router-outlet>