<div id= "main-head" class="container navbar">
    <div class="row">
      <div class="col-6">
        <a href="#/home" class="nav-link-home">Main</a>
      </div>
      <div class="col-6">
        <a href="#/aboutus" class="nav-link">About Us</a>
      </div>
      <div class="col-6">
        <a href="#/subscription-form" class="nav-link">Search Product</a>
      </div>
    </div>
</div>

<div id="main-footer" class="container">
    <div>
        <div class="col">
            <a href="#"><img src="#" alt="logo"></a>
        </div>
        <div class="col">
            <ul>
                <li>Information</li>
                <li>Main</li>
                <li>Gallary</li>
                <li>Projects</li>
                <li>Certifications</li>
                <li>Contacts</li>
            </ul>

        </div>
        <div class="col">
            <ul>
                <li>Contacts</li>
                <li>Address</li>
                <li>phone</li>
                <li>Email</li>
            </ul>
        </div>
        <div class="col-5">
            <div>
                <li>Social Media</li>
                <img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt="">
            </div>

        </div>
    </div>
</div>

<router-outlet></router-outlet>