<h1 style="margin: auto 20px auto 20px;">Gallary</h1>

<ul class="list-unstyled" style="margin: auto 20px auto 20px;">
    
      <li class="media col-sm" *ngFor="let myEvent of myEvents">
        <img class="mr-3" src={{myEvent.imageUrl}} alt="Generic placeholder image" width="250" height="250">
        
      </li>
  </ul>
  
  <ul class="row" style="margin: auto 20px auto 20px;">
    <li class="media col-sm" *ngFor="let searchevent of searchEvents">
      <img class="mr-3" src={{searchevent.imageUrl}} alt="Generic placeholder image" width="250" height="250">
      
    </li>
  </ul>
  
  
  <h5 *ngIf="events?.length==0">No records available!</h5>
  <app-footer></app-footer>